
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<div class="col-lg-1">

</div>
<div class="col-lg-11">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href=@Url.Action("Login","Customer")>Login</a></li>
        <li role="presentation"><a href=@Url.Action("Register","Customer")>Register</a></li>
        <li role="presentation"><a href=@Url.Action("Profile","Customer")>Profile</a></li>
    </ul>
</div>*@

